services:

  odoo:
    image: odoo:18.0
    container_name: odoo18
    restart: unless-stopped
    links:
      - db:db    
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons

  db:
    image: postgres:17.0
    container_name: db18
    restart: unless-stopped       
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdataa
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  odoo-data:
  db-data:    

      
